
body {
    background-color: #FFFFFF;
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
    line-height: 1.3;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #93C121
    }

/* Color de los títulos los h3*/
#titulo_asesoria {color: #93C121;}
#titulo_programa {color: #96368C;}
#titulo_sitios {color: #93C121;}
#titulo_micuento {color: #96368C;}
#titulo_antologias {color: #93C121 ;}
#titulo_video {color: #96368C;}
#titulo_videoconferencia {color: #93C121 ;}
#titulo_documentos {color: #96368C;}
#titulo_textos {color: #93C121;}
#titulo_otros {color: #96368C;}
#titulo_contacto {color: #93C121;}
#titulo_desarrollo {color: #96368C;}


#logo 
{
    width: 92px;
    height: 60px;
    float: left;
    margin-right: 14px;
    margin-top: 13px;
    margin-left: -20px;
    margin-block: 10px;
}

#textinicial
{
    font-size: 120px;
    font-weight: bold;
}

#calificame {
    float: left;
    margin-right: 10px; 
    text-align: center;
  }
  
  


.doc {color: #93C121;}

#tablas{align-content: center;}

.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 110%;
    height: 110%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(10%); /* make all photos black and white */
    width: 95%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.modal-header, h4, .close {
    color: #000000 !important;
    text-align: center;
    font-size: 20px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}
#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #d9d9d9;
    border: 0;
    font-size: 11px !important;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 4px;
    opacity: 1;
}

.navbar-default .navbar-nav {
    color: #3213e2 ;
}


.li a, .navbar .navbar-brand {
    color: #ffffff !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: red !important;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}

/*Color del texto del menú*/
.navbar-default .navbar-nav>li>a {
    color: #96368c;
    font-weight: bold;
    font-size: 13px;
}

/*Linea del menú con color */
.hr {
    border: none;
    background-color: #96368c;
    height: 2px;
}

/*Color de Desarrolladores las 2 cejillas */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover 
{
    background-color: #d3a3ce;
}


.linea
{
    background-color: #96368c;  
    color: #96368c;
}

.linea2
{
    background-color: #93C121;  
    color: #93C121;
}
